@page
@model Web.Pages.Quiz.QuizList
@{
    ViewData["Title"] = "Quiz List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Quiz List</h1>

<ul>
    @foreach (var quiz in Model.Quizzes)
    {
        <li>
            <a asp-page="/Quiz/Item" asp-route-quizId="@quiz.Id" asp-route-itemId="1">@quiz.Title</a>
        </li>
    }
</ul>